.card{
    display: flex;
    width: 306px;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    border-radius: 8px;
    border: 1px solid #302F36;
    background: #1C1C1F;
}
.icon{
    display: flex;
    width: 51px;
    height: 50px;
    padding: 6px 6px 6px 7px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(93, 80, 195, 0.20);
}
.title{
    color: white;
    align-self: stretch;
    color: #F7F8F8;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 116.7%;
}   